@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "goodbrush";
   src: url("/fonts/goodbrush.woff2") format('woff2');
 }
 
 @font-face {
   font-family: "firacode";
   src: url('/fonts/FiraCode-Retina.woff2') format('woff2');
 }

 @font-face {
   font-family: "firacodeSemiBold";
   src: url('/fonts/FiraCode-SemiBold.woff2') format('woff2');
 }